// stylelint-disable plugin/selector-bem-pattern

@mixin field-text {
  display: inline-block;
  width: 100%;
  // stylelint-disable-next-line
  min-height: calc(#{$line-height}em + #{$field-padding-vertical} + #{$field-padding-vertical} + 2px);
  font-family: inherit;
  font-size: 1em;
  line-height: $line-height;
  margin: 0;
  padding: $field-padding-vertical $field-padding-horizontal;
  vertical-align: middle;
  background-color: #ffffff;
  border: 1px solid $border-color;
  border-radius: $border-radius;
  -moz-appearance: textfield; // stylelint-disable-line
  //appearance: textfield; // stylelint-disable-line

  &:focus {
    @include field-focus;
  }

  &[disabled],
  &[readonly] {
    background-color: $gray-lighter;
    cursor: not-allowed;
  }

  &::-webkit-search-cancel-button,
  &::-webkit-search-decoration,
  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    -webkit-appearance: none; // stylelint-disable-line  property-no-vendor-prefix
  }

  &[type='color'] {
    padding: 0;
  }

  &::placeholder {
    opacity: 1;
    color: $text-color-muted;
  }
}

@mixin field-help-text {
  display: block;
  font-size: $font-size-sm;
  line-height: 1.2em;
  padding-top: 0.4em;
  color: $text-color-muted;

  &:empty {
    display: none;
  }
}

@mixin field-focus {
  outline: 0;
  box-shadow: 0 0 0 2px rgba($color-main, $opacity);
}

@mixin field-name {
  display: block;
  line-height: $line-height;
  font-weight: 700;
  margin-bottom: 0.4em;
}
