nav.nav-menu#nav
  if page === 'index'
    -var logoUrl = false
  else
    -var logoUrl = 'index.html';

  +logo(logoUrl)(class='nav-menu__logo',)
    img(class='logo__image', src='img/logo.svg', alt='Logo', width='128', height='30')
  +burger('открыть меню', 'nav', 'nav-menu--open')(class='nav-menu__toggle' type='button' id='toggle-button')
  +main-menu(selectedID)(class='nav-menu__list')
