// В этом файле должны быть стили для БЭМ-блока breadcrumbs, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...

.breadcrumbs {
  margin-top: $typo-margin-vertical;
  margin-bottom: $typo-margin-vertical;
  padding: 0;
  list-style: none;
  color: $text-color;

  a {
    text-decoration: none;
    color: $text-color;

    &:hover,
    &:focus {
      text-decoration: none;
      color: $text-color;
    }
  }

  &__item {
    display: inline-block;
    margin-right: 0.6em;
    white-space: nowrap;

    &:not(:last-child):after {
      content: '>';
      display: inline-block;
      margin-left: 0.8em;
      color: $gray;
    }
  }
}
