extends ../pug/layouts/default

block variables
  -
    var title = 'Главная';
  //-var selectedID = '1';
  //-var page = 'index';

block links

block content
  h1 название

block scripts
  //-script(src='js/vendors~index.js')
  //-script(src='js/index.js')
