extends ../pug/layouts/default

block variables
  -
    var title = 'Page'
    //-var selectedID = '2';

block content
  h2 Page

block scripts
  //-script(src='js/vendors~page.js')
  //-script(src='js/page.js')
