// В этом файле должны быть стили для БЭМ-блока logo, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...

.logo {
  $block-name: &; // #{$block-name}__element

  display: inline-block;
  white-space: nowrap;

  img {
    display: block;
  }
}
