include ../helpers/mixins
include ../helpers/blocks-mixins

block variables

doctype html
html.page(lang='ru')
  head
    include ../modules/head
    block links
  body.page__inner
    header.page-header
      include ../modules/nav
    main.page__content
      block content
    footer.page__footer-wrapper
    block scripts
