// В этом файле должны быть стили для БЭМ-блока burger, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...

.burger {
  position: relative;
  display: inline-block;
  width: 30px;
  line-height: 30px;
  padding: 0;
  z-index: 1;
  background: transparent;
  border: none;
  cursor: pointer;
  user-select: none;

  > span {
    position: relative;
    display: inline-block;
    width: 100%;
    height: $toggler-part-height;
    font-size: 0;
    vertical-align: middle;
    color: transparent;
    background: $toggler-part-bg-color;
    transition: background $transition-time $transition-time;

    &:before,
    &:after {
      position: absolute;
      content: '';
      left: 0;
      width: 100%;
      height: $toggler-part-height;
      background: $toggler-part-bg-color;
      transition: top $transition-time $transition-time, transform $transition-time;
      transform-origin: 50% 50%;
    }

    &:before {
      top: -10px;
    }

    &:after {
      top: 10px;
    }
  }

  &--close {
    > span {
      background: transparent;
      transition: background $transition-time 0s;

      &:before,
      &:after {
        top: 0;
        transition: top $transition-time, transform $transition-time $transition-time;
      }

      &:before {
        transform: rotate3d(0, 0, 1, 45deg);
      }

      &:after {
        transform: rotate3d(0, 0, 1, -45deg);
      }
    }
  }
}
