//-
  ВНИМАНИЕ! Этот файл генерируется автоматически.
  Любые изменения этого файла будут потеряны при следующей компиляции.
  Любое изменение проекта без возможности компиляции ДОЛЬШЕ И ДОРОЖЕ в 2-5 раз.

include ../../blocks/burger/burger.pug
include ../../blocks/logo/logo.pug
include ../../blocks/main-menu/main-menu.pug
